.container
  .page-header
    h1 About Us
  .span8.offset2
    .hero-unit
      p Founded in 2011, Kolabria is a privately-funded company based in the Montreal area.  
      br
      p Our mission is to create simple and easy to use tools that enable remote teams to work as effectively as if they were in the same room.  
  