.container
  .page-header
    h1 User:  #{user.name}
  .row-fluid
      br
      h3 Change Password:
      br
      form.form-horizontal.users(name='account', action='/account', method='post')
        .control-group
          label.control-label(for="password") Current Password:
          .controls
            input.input-xlarge#password(required, name='currentPwd', type='password', placeholder="Current Password")
            .control-group
          label.control-label(for="password") New Password:
          .controls
            input.input-xlarge#password(required, name='newPwd',  type='password', placeholder="New Password")
        .control-group
          label.control-label(for="password") Confirm Password:
          .controls
            input.input-xlarge#password(required, name='confirmPwd', type='password', placeholder="Confirm Password")
        .control-group
          input.btn.btn-primary.pull-right(type='submit', value='Change Password')
          br
      if (user.freeAcct)
        h3 Upgrade Account:
        br
        form.form-horizontal.users(name='upgrade', action='/acct-upgrade', method='post')
          .control-group
            label.control-label(for="auth") Authentication Code:
            .controls
              input.input-xlarge#password( name='authcode', placeholder="upgrade code")
          .control-group
            input.btn.btn-primary.pull-right(type='submit', value='Upgrade')
          
          