!!! 5
html
  head
    title Controller Error

    base(href='http://'+base+'/')
    link(rel='stylesheet', href='http://'+base+'/stylesheets/bootstrap.css')
  body
    p Error: Invalid Controller ID - "#{bid}"

    script(src='http://'+base+'/javascripts/jquery-1.7.2.min.js') 
    script(src='http://'+base+'/javascripts/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='http://'+base+'/javascripts/touch-punch.min.js')
 