.container
  .page-header
    br
  .row
    .span6
        h2  Our Mission  
        p To create simple and easy to use tools that enable remote teams to work as effectively as if they were in the same room.  
  
    .span6
        h2 Contact 
        p 
          | Phone: 
          b 514-449-7338
        cr 
        p Email: 
          a(href='mailto:info@kolabria.com') info@kolabria.com
        br
        h5 Office:
        p 263 Bromley Ave
        p Saint Lambert, Qc
        p J4R 1X8
 

        
