.container
  .page-header
    h1 Get in Touch
  .span8.offset2
    .hero-unit
      p We would love to hear from you.  Please call or email us if you have any questions about our products. 
      br
      p Address:
      p 263 Bromley Ave
      p Saint Lambert, Qc
      p J4R 1X8
      br
      p Phone: 514-449-7338
      cr
      p Email: info@kolabria.com