!!! 5
html
  head
    title #{title}
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi")
    base(href='http://'+base+'/')
    link(rel='stylesheet', href='http://'+base+'/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='http://'+base+'/stylesheets/wall.css')
    link(rel='stylesheet', href='http://'+base+'/stylesheets/fileuploader.css')    
  body.background
    .canvas
      header.navbar.navbar-fixed-bottom 
        nav#toolbar.toolbar
            ul.nav.pull-left
              li.btn-group.dropup.pen
                button.btn.tool(type='button', onclick='', value='Pen')
                  i.icon-pencil   
                button.btn.dropdown-toggle(data-toggle="dropdown")       
                  span.caret
                ul.dropdown-menu.pull-right
                  li
                    button.btn.btn-inverse.color(type='button', onclick='', value='Black')
                  li
                    button.btn.btn-danger.color(type='button', onclick='', value='Red')
                  li 
                    button.btn.btn-success.color(type='button', onclick='', value='Green')
                  li
                    button.btn.btn-primary.color(type='button', onclick='', value='Blue')
              li  
                button.btn.tool(type='button', onclick='', value='Nav')
                  i.icon-move
              li  
                button.btn.tool(type='button', onclick='', value='Select')
                  i.icon-hand-up
              li  
                button.btn.tool(type='button', onclick='', value='Show')
                  i.icon-play-circle                  
              block toolbar
          block functions
      .whiteboard!= body
      #navWindow
        #view
        .btn-group                  
          button.btn.tool(type='button', onclick='', value='ZoomIn')
            i.icon-plus
          button.btn.tool(type='button', onclick='', value='Center')
            i.icon-asterisk
          button.btn.tool(type='button', onclick='', value='ZoomOut')
            i.icon-minus
      #alerts
    #pptLoad.modal.hide.fade
      .modal-body
         h3  Loading Presentation
    #pptList.modal.hide.fade
      .modal-header
        h3 Presentation Viewer
      .modal-body 
        table.table
          tbody#presList
      .modal-footer
        a.btn(onclick='javascript:pptListClose();') Close
        a
    block upmodal
    #pptShow.modal.hide.fade
      .modal-header
        h3 
      .modal-body
        #embedded_doc         
      .modal-footer
        a.btn.btn-primary( onclick='javascript:viewerBegin();') Slide 1
        a.btn.btn-primary( onclick='javascript:viewerPrev();') Prev
        a.btn.btn-primary( onclick='javascript:viewerNext();') Next
        a.btn(onclick='javascript:viewerClose();')
          | Close
          a
    block localjs
    script(src='http://'+base+'/javascripts/jquery-1.7.2.min.js')
    script(src='http://'+base+'/javascripts/ios.js')
    script(src='http://'+base+'/javascripts/bootstrap.min.js')
    script(src='http://'+base+'/javascripts/paper.js')     
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='http://'+base+'/javascripts/touch-punch.min.js')
    script(src='http://'+base+'/javascripts/fileuploader.min.js')
    script(src='http://www.scribd.com/javascripts/scribd_api.js')
        
    //this is what allows realtime communication,
    script(src='nowjs/now.js') 
    //General All purpose JS
    block clientjs
    script
      var wallInit;
      $(document).ready(function(){
        wallInit = true; 
      });
    - if (ie)
      script(src='http://'+base+'/javascripts/wall.js', canvas='myCanvas', type="text/paperscript");
    - else
      script(src='http://'+base+'/javascripts/iewall.js', canvas='myCanvas', type="text/paperscript");    
    script
      //Analytics  
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-32675686-1']);
       _gaq.push(['_setDomainName', 'kolabria.com']);
       _gaq.push(['_trackPageview']);
       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    block localAnalytics 
    script
      //IOS and mobile adjustments
      iOS_disableZooming();
      iOS_disableScrolling();
      window.onorientationchange = function(){
        if ( orientation == 0 || orientation == 180) {
          window.scrollTo(0,1);
      }};