.container
  .page-header
    h3  Help
  .row-fluid

    h4 Browser Setup
    br
    p Kolabria's Reunion is a web based application the runs in your browser.   At the current time you must use Google Chrome.  Other browsers do not yet support all the technology required for Reunion and will therefore not support all features.   
    p To initiate screen sharing it is necessary that a flag in the Chrome browser settings be enabled.   To do this, open a new browser tab and enter: 
    p
    p 
      b chrome://flags/#enable-usermedia-screen-capture 
    p
     p Click on 
       b enable 
       | to activate screen capture support.
 
    p You need to relaunch your browser for this to take effect. 
