.hero
  .container
    .herocontent
      img(src='/img/WikiWall-demo.jpg')
    aside
      p
        | WikiWalls are digital drawing spaces that enable people to instantly share their visual ideas.
      form
        label.control-label(for='appendedInputButton') Leave your email and we will let you know when WikiWall will be available
        .input-append
          input#appendedInputButton(placeholder='your-email@email.com', type='text')
          button.btn(type='submit') Subscribe
.main.container(role='main')
  .row
    .block
      h2 Beyond the Conference Room
      p
        | WikiWalls can be shared between meeting rooms or with anyone with a computer or tablet using only their browser. Everyone can draw and interact at the same time.
    .block
      h2 More than a Whiteboard
      p
        | Pictures, presentations, documents, web pages, videos and more can all be pasted to a WikiWall.  Even share applications running on your computer.
    .block
      h2 Not just for Meetings
      p
        | Create multiple WikiWalls and use them as a virtual war room, a project status page, mind maps, or customer brainstorming. Share with others to get their input. Use them at your desk or bring them to any meeting room. Your WikiWalls are always accessible and secure.
  .learn
    a.btn.btn-primary.btn-large(href='#') Learn More!
