.hero
  .container
    .herocontent
      video#intro-video(controls='controls')
        source(src='/img/wikiwall.m4v', type='video/mp4')
        source(src='/img/wikiwall.ogg', type='video/ogg')
        | Your browser does not support the video tag.
    aside
      p
        | WikiWalls are digital drawing spaces that enable people to instantly share their visual ideas.
      form#form3(name='form3', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='novalidate', action='https://kolabria.wufoo.com/forms/q7x3z9/#public')
        label.control-label(for='appendedInputButton') Leave your email and we will let you know when WikiWall will be available
        .input-append
          input#appendedInputButton(name='Field1', type='email', spellcheck='false', placeholder='your-email@email.com', maxlength='255')
          button.btn(name='saveForm', type='submit') Subscribe
          input#idstamp(type='hidden', name='idstamp', value='V8RRAv3FSwvybIccqJ9xKIhDJ4xN4X48o9eVF8k3Z/k=')
.main.container(role='main')
  .row
    .block
      h2 Beyond the Conference Room
      p
        | WikiWalls can be shared between meeting rooms or with anyone with a computer or tablet using only their browser. Everyone can draw and interact at the same time.
    .block
      h2 More than a Whiteboard
      p
        | Include pictures and images to enhance your drawings.  At the end of your meeting easily save your WikiWall to your computer.  No more taking a picture with your camera phone. 
    .block
      h2 Not just for Meetings
      p
        | Create multiple WikiWalls and use them as a virtual war room, a project status page, mind maps, or customer brainstorming. Share with others to get their input. Use them at your desk or bring them to any meeting room. Your WikiWalls are always accessible and secure.
  .learn
    a#learn-more.btn.btn-primary.btn-large(href='product') Learn More!

script
    document.addEventListener("DOMContentLoaded", init, false);
     function init(){
       var video = document.getElementById("intro-video");
       video.addEventListener("play", videoPlay, false);
       video.addEventListener("pause", videoPause, false);
       video.addEventListener("ended", videoEnd, false);
       console.log(video);
     }
     function videoPlay(event) {
       trackEvent('Play', 'Intro Video');
     }
     function videoPause(event) {
       trackEvent('Pause', 'Indro Video');
     }
     function videoEnd(event) {
       trackEvent('Ended', 'Intro Video');
     }
     function trackEvent(action, title) {
       _gaq.push(['_trackEvent', 'Videos', action, title]);
     }
