.container
  .page-header
    h1 Join a WikiWall Meeting
  .span8.offset2
    .hero-unit
      p Enter your Name, Room and Code to begin using WikiWall
      form.form-horizontal(action='.', method='post')
        div(style='display: none;')
          input(type='hidden', name='csrfmiddlewaretoken', value='45b16908914c89b01dcf288d3f52a6d4')
        .control-group
          label.control-label(for="id_name") Name 
          .controls
            input#id_name.input-xlarge(required, name='name', placeholder='Your Name', type='text')
        .control-group
          label.control-label(for="id_room") Room
          .controls
            input#id_room.input-xlarge(required, name='room', placeholder='Case Insensitive', type='text')
        .control-group
          label.control-label(for="id_code") Code
          .controls
            input#id_code.input-xlarge(required, name='code', placeholder='4-digit secret code', type='number')
        .control-group
          input.btn.btn-primary.pull-right(type='submit', value='Enter')