body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') #{title}
        .nav-collapse
          ul.nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        .btn-group.pull-right
          a.btn.btn-primary(href='/login') Login
        //
          /.nav-collapse 
  .container
    .span6
      h1 Join a WikiWall Meeting
      br
      form.form-vertical(action='.', method='post')
        div(style='display: none;')
          input(type='hidden', name='csrfmiddlewaretoken', value='45b16908914c89b01dcf288d3f52a6d4')
        p
          | Name 
          input#id_name.span4(name='name', maxlength='30', placeholder='Your Name', type='text')
        p
          | Room
          input#id_room.span4(name='room', maxlength='30', placeholder='Case Insensitive', type='text')
        p
          | Code
          input#id_code.span4(name='code', maxlength='30', placeholder='4-digit secret code', type='text')
        input.btn.btn-primary.offset3(type='submit', value='Enter')

  //
     Le javascript
  //
     Placed at the end of the document so the pages load faster 
      script(src='../assets/js/jquery.js')
  script(src='//code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/bootstrap.js')
