.container
  .page-header
    h1 Login
  .span8.offset2
    .hero-unit
      p Login to your Kolabria account
      form.form-horizontal.users(name='login', action='/login', method='post')
        .control-group
          label.control-label(for="email") Email:
          .controls
            input.input-xlarge#email(required, type="email", name='company[adminEmail]', value=company.adminEmail || '', placeholder="Email@email.com")
        .control-group
          label.control-label(for="password") Password:
          .controls
            input.input-xlarge#password(required, name='company[password]', value=company.password || '', type='password', placeholder="Password")
        .control-group
          input.btn.btn-primary.pull-right(type='submit', value='Log In')
        .control-group
          a.pull-right(href='/register') Create a new account
