extends stdlayout

block content
  .hero
  .container
    .span6
      .hero-unit.well
        p Login to your WikiWall account
        form.users(name='login', action='/login', method='POST')
          div
            label Email:
            input(name='company[adminEmail]', value=company.adminEmail || '')
          div
            label Password:
            input(name='company[password]', value=company.password || '', type='password')
          div
              input.btn.btn-primary.pull-right(type='submit', value='Log In')
          br
          a(href='/register') Create a new account
          br

