.container
  .page-header
    h1 Reunion - Pricing
    br
  .row
    .span2
      .priceTable
          table
              tr
                td
                  | Single User
                  br
                  | 
              tr
                td
                  strong Free
    .span4.offset1  
      .priceTable
        table
            tr
              td
                | 5 Collaborators
              td
                | 15 Collaborators
              td
                | 30 Collaborators
              td
                | 50 Collaborators
            tr
              td
                | $34
              td
                | $89
              td
                | $169
              td
                | $240
     .span2.offset2
        .priceTable
          table
              tr
                td
                  | 50+ Collaborators
              tr
                td
                  a.btn.btn-large(href='/company') Contact us
                  br
                  | for a custom plan
  .row
      .span2.offset4
          p.price-period Billed Monthly

  .row
      
      p.banner-large Get started with a 30-day free trial
      p.banner-med All the features. No credit card required.
      .learn
        a#signup.btn.btn-primary.btn-large(href='register',onClick="_gaq.push(['_trackEvent', 'Button', 'Clicked','Register-1']);") Start a free trial now!
.container
    h3.learn Plans Include:
    table.table
      thead
        tr
          th Features:
          th Support:
          th Security:
      tbody
        tr
            td Unlimited Whiteboards*
            td Telephone support
            td SSL/HTTPS security
        tr
            td Screen sharing
            td Prompt email response
            td 
        tr
            td Audio Conference
            td 
            td 
        tr
            td Video Conference
            td 
            td  
    p 
      strong *Note:
      |   Free plans only support 1 whiteboard

.container
    .row
      h3.learn Frequently asked questions:
    .row
      .span6
        h4 Can I change plans at any time?
        p Start with the plan you need today, and switch anytime!
        h4 How does the 30-day free trial work?
        p Sign up now and get a 30-day free trial, with unlimited everything! No obligation, no credit card required. When your trial ends and you can’t live without Kolabria, then sign up for the plan of your choice. 

        h4 Can I use Kolabria for free?
        p Kolabria is free for a 30-day trial period and stays free if you don't need any collaborators.
      .span6
        h4 What type of payments do you accept?
        p We accept PayPal, Visa, MasterCard and American Express. All online transactions are secure. All amounts are in US dollars.
        h4 Can I get a refund?
        p We offer a 30-day money-back guarantee, no questions asked.
        h4 How often will I get billed?
        p You will be billed monthly. 
        h4 Do I have to sign a long-term contract?
        p No. You can pay monthly and can cancel at any time. You pay only upto the end of the month. 
    .learn
      a#signup.btn.btn-primary.btn-large(href='register',onClick="_gaq.push(['_trackEvent', 'Button', 'Clicked','Register-1']);") Start a free trial now!
