.container
  .page-header
    h1 Reunion - Overview
    br
  .row
    .span6
      h2 Express youreslf visually
      ul
        li  Sketech out your ideas just like a real whiteboard
        li  Infinite drawing space with pan and zoom 
        li  Move and delete objects 
        li  Insert and markup pictures and images
        li  Everything is automatically saved while drawing 
    .span6
      video#draw-video.imgboarder(controls, height='282', width='500')
        source(src='/img/drawing-video-out.m4v', type='video/mp4')
        source(src='/img/drawing-video-out.ogv', type='video/ogg')
        Your browser does not support the video tag.

  br
  hr
  .row
    .span6
      h2 Share multiple computer screens simultaneously
      ul
        li  Display up to 3 screens on the same whiteboard
        li  Great for side by side comparisons
        li  Move and resize each individually
        li  Capture screen images to whiteboard for annotation
      br
    .span6
      img.imgboarder(src='/img/3screenshare1.png', alt='screen sharing - 3 screens', height='250', width='390')
  br
  hr
  .row
    .span4
      h2 Conferencing 
      ul
        li  Audio only or full video conferencing
        li  No plugins or downloads required
        li  Reposition conferencing windows on your whiteboard 
      br
    .span4
      img(src='/img/4wayconfcall.png', alt='audio conf call', height='250', width='210')
      p.caption  Audio Only
    .span4
      img.imgboarder(src='/img/3wayvideoconf.png', alt='video conf', height='159', width='250')
      p.caption Video and Audio
  br
  hr
  .row
    .span6
       h2 A Whiteboard for every purpose
       ul
         li  Create as many whiteboards as you need
         li  All information is saved after each use 
         li  Use them as scratch pads for your ideas, todo lists, meeting agendas or minutes
         li  Access at any time from anywhere
     .span6
       img.imgboarder(src='/img/wblist2.png', alt='screen sharing - 2 screens', height='173', width='600')

    
      
  br   
  hr
  .row
    .span5
      h2 Sharing
      img.imgboarder(src='/img/usershare3.png', alt='share with registered user', height='130', width='500')
      p  Share your whiteboard with any registered user so it appears on their list of whiteboards and they can easily get access.
      
    .span6.offset1
      br
      br       
      img.imgboarder2(src='/img/shareboard1.png', alt='share wall', height='125', width='400')
      p  Send the unique address of a whiteboard to anyone whom you want to give access.   Once you are both viewing the whiteboard you will be able to set up a conference call, share your screen or collaboratively draw.  
  hr
  .row
   .span6
     h2 Conference Room Gateway   
     ul
       li  Turn a meeting room computer into a Reunion gateway to see your whiteboards on a TV or projector.  
       li  Publish whiteboards to a conference room for quick and simple access during your meeting
       li  Create new whiteboards right in the meeting room
       li  Pair an iPad or Android tablet to act as a remote control and to easily draw on the whiteboard
       li  At the end of a meeting assign local whiteboards to any registered user
   .span6
     img.imgboarder(src='/img/orangeroom3.jpg', alt='screen sharing - 2 screens', height='259', width='495')
  br
  .learn
    a.btn.btn-primary.btn-large(href='uregister',onClick="_gaq.push(['_trackEvent', 'Button', 'Clicked','Register-2']);") Sign Up Now!	  
script
  document.addEventListener("DOMContentLoaded", init, false);
  function init(){
    var video = document.getElementById("draw-video");
    video.addEventListener("play", videoPlay, false);
    video.addEventListener("pause", videoPause, false);
    video.addEventListener("ended", videoEnd, false);
    console.log(video);
  }
  function videoPlay(event) {
    trackEvent('Play', 'Draw Video');
  }
  function videoPause(event) {
    trackEvent('Pause', 'Draw Video');
  }
  function videoEnd(event) {
    trackEvent('Ended', 'Draw Video');
  }
  function trackEvent(action, title) {
    _gaq.push(['_trackEvent', 'Videos', action, title]);
  }
 