.container
  .page-header
    h1 Product Overview
  .span6
    h2 Simple to use 
    p If you can use a whiteboard, you can use WikiWall.   Intuitive controls for drawing, navigating and selecting objects. 
    br
    h2 Your own conference room WikiWall in 5 minutes.
    p Simply mount the sensor bar on the wall or on your TV, connect it to the controller 
      | and plug into your network.  Calibrate and register your eMarker and start drawing.
    br
    h2 More ways to share
    .span6.offset1
      p 1) Pick the conference room from your quick share list to let other conference rooms share your WikiWall. 
      p 2) Share outside a conference room with the WikiWall name and the pass code.  Anyone can go to my.wikiwall.com
        | and join your WikiWall from their computer or tablet.
  .span6
    br
    h2 Enhance video conferencing
    p Video conference shares video in real time and shares previously prepared Powerpoints.  
      | WikiWalls go beyond sharing prepared content by letting you instantly share your visual ideas.   
      | Draw a new pie chart or sketch a wireframe for everyone to see.  Watch as others build on your ideas 
      | as they add to your drawing.  WikiWall lets you collaborate as if everyone is in the same room. 
  .span6    
    br
    h2 Team workspace
    p Create a WikiWall for your team to share ideas, keep meeting notes, keep track of schedules,
      | tasks, bugs, or whatever you want.   Each time you have a meeting, push the WikiWall to the 
      | conference room and all your 
      | information is available.   At the end of the meeting deactivate the wall from the conference room.   
      | After that no one in the room will be able to see your information yet the WikiWall will still be available 
      | to all your team members from their computers and tablets.  People can access info at any time from anywhere.