extends stdlayout

block content
  .hero
  .container
    .span6
      .hero-unit.well
        p Register your company
        form.users(name='register', action='/register', method='POST')
          div
            label Email:
            input(name='company[adminEmail]', value=company.adminEmail || '')
          div
            label Password:
            input(name='company[password]', value=company.password || '', type='password')
          div
            label Company:
            input(name='company[name]', value=company.name || '')
          div
              br
              input.btn.btn-primary.pull-right(type='submit', value='Register')
        br
        a(href='Login') Login
        br
