!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
//if IE 7
  html.no-js.lt-ie9.lt-ie8.(lang="en")
//if IE 8
  html.no-js.lt-ie9(lang="en")
//if gt IE 8
  html.no-js(lang='en')

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title= title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  base(href='http://'+base+'/')
  //
     Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons 
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/bootstrap-responsive.css')
  link(href='http://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href='http://releases.flowplayer.org/5.2.1/skin/minimalist.css', type='text/css')
  link(rel='stylesheet', href='stylesheets/style.css')

  //if lt IE 9
    script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
body
  //if lt IE 7
    p.chromeframe
      | Your browser is
      em ancient!
      a(href='http://browsehappy.com/') Upgrade to a different browser
      | or
      a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
      | to experience this site.
  header.container
    != messages()
    ul.nav.nav-tabs.language.pull-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon-globe
          |  Change Language
          b.caret
        ul.dropdown-menu.pull-right
          li
            a(href='#')
              i.flag.flag-ca
              | English
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.icon-edit
          |  Join Meeting
          b.caret
        #signin-dropdown.dropdown-menu.pull-right
          form.form-vertical(action='/join', method='post')
            //TODO remove inline styles
            div(style='display: none;') 
              //TODO needs to be randomly generated and verified
              input(type='hidden', name='csrfmiddlewaretoken', value='e49fb64f716e93e7bd6ba16774c14a28') 
            label(for='id_name') Name
            input#id_name.span3(required, name='name', placeholder='Your Name', type='text')
            label(for='id_room') Room
            input#id_room.span3(required, name='room', placeholder='Room Name', type='text')
            label(for='id_code') Room Code
            input#id_code.span3(required, name='code', placeholder='4-digit secret code', type='number')
            input.btn.btn-primary.pull-right(type='submit', value='Join')
      block login
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.icon-user
            |  Login
            b.caret
          #join-dropdown.dropdown-menu.pull-right
            form.form-vertical(action='/login', method='post')
              //TODO remove inline styles
              div(style='display: none;') 
                //TODO needs to be randomly generated and verified
                input(type='hidden', name='csrfmiddlewaretoken', value='') 
              label(for='id_email') Email
              input#id_email.span3(required, name='company[adminEmail]', maxlength='30', placeholder='Email@email.com', type='email')
              label(for='id_password') Password
              input#id_password.span3(required, name='company[password]', maxlength='30', placeholder='Password', type='password')
              a.pull-left(href='/register' , tabindex=0) Create a new account
              input.btn.btn-primary.pull-right(type='submit', value='Login')
    .navbar
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      hgroup.brand.pull-left
        h1.logo Kolabria
        h2 Sharing Visual Ideas
      .nav-collapse
        nav.mainnav.nav.btn-group.pull-right
          block navbuttons
            a.btn.btn-large(href='/') Home
            a.btn.btn-large(href='/product') Overview
            a.btn.btn-large(href='about') About
            a.btn.btn-large(href='/contact') Contact
  !=body
  footer.navbar.navbar-fixed-bottom
    block footer
      .container
        .sm
          span.st_fblike_hcount
          span.st_twitter_hcount
          span.st_plusone_hcount
          span.st_email_hcount
          span.st_sharethis_hcount
        small Copyright 2013 by Kolabria. All Rights Reserved
  //
    div.pointers
      span.logo Logo And Byline
      span.menu Menu
      span.video Product Video
      span.c2a1 Call to Action
      span.cases Use Cases
      span.legal Legal Stuff
      span.social Social Media stuff, share with a friend!
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/plugins.js')
  script(src='/javascripts/script.js')
  script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
  block localjs
  script(src='/javascripts/flowplayer.js')
  script
    flowplayer.conf = {analytics: 'UA-32675686-1'};
    stLight.options({publisher: "614ee07c-bb32-4c04-8b2a-52d217ebdbd8"});
    //Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32675686-1']);
    _gaq.push(['_setDomainName', 'kolabria.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
