!!! 5
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi")
    link(rel='stylesheet', href='/stylesheets/wall.css')
    script(src='/javascripts/paper.js')
    script(src='/javascripts/ios.js')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='/javascripts/touch-punch.min.js')      
    meta(charset='utf-8')
    title UI Draggable Test
    style
      .draggable { 
        width: 90px; 
        height: 190px; 
        padding: 0.5em; 
        float: left; 
        margin: 0 10px 10px 0;
        background:red;
      }
      #draggable5{
        background:blue;
      }
    script
        jQuery(function() {
          jQuery("#draggable5").draggable({containment:"parent"});
        });
  body
    .draggable.ui-widget-content
      p#draggable5.ui-widget-header I'm contained within my parent