body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') #{title}
        .nav-collapse
          ul.nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        .btn-group.pull-right
          a.btn.btn-primary(href='/login') Login
        //
          /.nav-collapse 
  .container
    h1 WikiWall Home
    p
      | This is the starting point to use and manage WikiWalls
    p
      a.btn.btn-primary.btn-large.pull-left(href='/join/') Join Meeting
  //
     /container 
  //
     Le javascript
  //
     Placed at the end of the document so the pages load faster 
      script(src='../assets/js/jquery.js')
  script(src='//code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/bootstrap.js')
  
