.container
  .page-header
    h1 Touch Products
    br
    img(src='/img/FP3.jpg', alt='finger touch', height='200', width='200')
    img(src='/img/projector-2.jpg', alt='finger touch projector', height='321', width='438')
    h3.learn  Coming Soon! 
