extends sitelayout

block login
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.icon-user
      |  logged in as #{user.Email}
      b.caret
    ul.dropdown-menu.pull-right
     li
       a(href='/sdestroy')
         | Logout

block navbuttons
  a.btn.btn-large(href='/userwalls') Whiteboards
  a.btn.btn-large(href='/controllers') Meeting Rooms
  a.btn.btn-large(href='/account') Account
  a.btn.btn-large(href='/help') Help
block footer
  .container
    ul.nav.pull-right
      li
        a(href='/company') Contact
    small Copyright 2014 by Kolabria. All Rights Reserved