.container
  .page-header
    h1 New User Sign-up
  .span8.offset2
    .hero-unit
      p Register
      form.form-horizontal.users(name='uregister', action='/uregister', method='POST')
        .control-group
          label.control-label(for="user") Name:
          .controls
            input.input-xlarge#user(required, type="text",name='user[name]', value=user.name || '', placeholder="Bob Smith")
        .control-group
          label.control-label(for="email") Email:
          .controls
            input.input-xlarge#email(required, type="email",name='user[Email]', value=user.adminEmail || '', placeholder="Email@email.com")
        .control-group
          label.control-label(for="password") Password:
          .controls
            input.input-xlarge#password(required, name='user[password]', value=user.password || '', type='password', placeholder="Password")
        .control-group
          label.control-label Plan Type:
          .controls
            input(type='radio',name='accttype',value='free')
            |   Free
            br
            input(type='radio', name='accttype', value='paid')
            |   Paid
        .control-group
          label.control-label(for="auth") Authentication Code:
          .controls
            input.input-xlarge#password( name='authcode', placeholder="paid accounts only")

        .control-group
          input.btn.btn-primary.pull-right(type='submit', value='Register')
        .control-group
          a.pull-right(href='ULogin') Login
