!!! 5
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi")
    title {Wall Name} // from Application
    link(rel='stylesheet', href='/stylesheets/wall.css')
    script(src='/javascripts/paper.js')
    script(src='/javascripts/ios.js')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='/nowjs/now.js') //this is what allows realtime communication, 
  body.background
    .canvas
      .whiteboard
        canvas#myCanvas(resize)
      header  
        nav#toolbar.toolbar
          ul.navigation
            li
              input.tool(type='button',value='Pen')
            li
              input.color(type='button',value='Black')
            li
              input.color(type='button',value='Red')
            li 
              input.color(type='button',value='Green')
            li  
              input.tool(type='button',value='Pan')
            li  
              input.tool(type='button',value='ZoomIn')
            li  
              input.tool(type='button',value='ZoomOut')
            li
              input.tool(type='button',value='Center')
            li  
              input.tool(type='button',value='Select')
            li  
              a.quit(href='/walls/') quit
        h1 {Wall Name} //from application
  script
    var wallId = '4f47be322f8b522d303f1fef';
    var companyId = 1; //from application 
  script(src='/javascripts/wall.js', canvas='myCanvas', type="text/paperscript").
  script
    stLight.options({publisher: "614ee07c-bb32-4c04-8b2a-52d217ebdbd8"});
    //Analytics  
    var _gaq=[['_setAccount','UA-32675686-1'], ['_setDomainName', 'kolabria.com'], ['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));