video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#localVideo {
  position: fixed;
  top: 15px;
  right: 15px;
  border: 5px solid #777;
  outline: 0px;
  height: 70px;
}
#remotes {
  width: 100%;
  height: 150px;
 
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
}
#remotes video {
 
  left:25px;
  top:0px;
  height: 150px;
  -moz-transition: all 1s;
  -moz-box-sizing: border-box;
  -webkit-transition: all 1s;
  -webkit-box-sizing: border-box;
}
#mylocalVideo {
  border: 5px solid #777;
  outline: 0px;
  height: 70px;
}
.screen-container{
  position:fixed;
  top:0px;
  width: 410px;
  height: 300px;
  z-index:1;
}

#screen-content1 {
  width: 500px; 
  height: 300px;
  padding:2px; 
  position:absolute; 
  border:5px solid;
  border-color: #100870;
  z-index: 90;
  background-color: #E0E0E0;
}
#screen-content2 {
  width: 500px; 
  height: 300px;
  padding:2px; 
  position:absolute; 
  border:5px solid;
  border-color: #580000 ;
  z-index: 90;
  background-color: #E0E0E0;
}
#screen-content3 {
  width: 500px; 
  height: 300px;
  padding:2px; 
  position:absolute; 
  border:5px solid;
  border-color: #105010 ;
  z-index: 90;
  background-color: #E0E0E0;
}
#resizable {
  top: 0px;
  width: 410px; 
  height: 290px;
  padding:2px; 
  position:fixed; 
  border:10px solid;
  border-color: red;
  z-index: 90;
}
.screenInfo {
    position:absolute;
	text-align:center;
	bottom: 0px;
	right:100px;
}
.vidInfo {
	position:absolute;
	bottom: 0px;
	right:40px;
}
.audiolist {
  top: 0px;
  width: 350px; 
  padding:5px; 
  position:fixed; 
  border:5px solid;
  background: #FFCCCC;
  border-radius: 15px;
  display: none;
}

.videocontainer {
  top: 0px;
  padding:2px; 
  position:fixed; 
  border:5px solid;
  background-color: #E0E0E0;
  z-index:90;
}

.imageView {
  display: none;	
  left: 0;
  top: 0;
  z-index: 0;
  border:none; 
}

.videoSnapBtn {
	position:relative;
	z-index: 95;
}

#chatarea {
  top: 0px;
  width: 350px; 
  padding:5px; 
  position:fixed; 
  border:5px solid;
  background: #E0E0E0;
  border-radius: 15px;
  display: none;
}



.inlineBlock {
 display: inline-block;
}

#messages {
  overflow-y: scroll;
  height: 200px;
  word-wrap: break-word;
  min-height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

#messages ul {
  margin: 0;
  padding-left: 5px;
}
#messages li {
  padding: 5px;
  margin: 0;
  padding: 0;
}
